img {
    height: 300px;
    width: auto;
}

header {
    display: flex;
    align-items: center;
}

.nav {
    background-color:  rgb(255, 164, 61);
    height: 50px;
    border-radius: 50px;
    flex-basis: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.logoimg {
    height: 150px;
    width: auto;
    margin-right: auto; 
    
}

.hero {
    background-color:  rgb(255, 164, 61);
    padding: 20px;
    border-radius: 50px;
    font-size: 30px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 20px;
    padding-right: 50px;
    border: 5px solid rgb(255, 164, 61);
    padding: 5px;
    
}

.iltr {
    display: flex;
    gap: 15px;
    
}

.leftsidetext {
    padding: 30px;
    flex-basis: 100%;
    background-color: rgb(255, 164, 61);
    border-radius: 50px;
    
}

.titles {
    display: flex;
    justify-content: center;
}

.topimg {
    flex-basis: 100%;
    border-radius: 50px;
}

.stt {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.servtit {
    padding: 20px;
    background-color: rgb(255, 164, 61) ;
    border-radius: 50px;
    
}
.services {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 164, 61) ;
    height: 60px;
    align-items: center;
    border-radius: 50px;
    font-size: large;
    font-weight: bold;
    list-style: none;
    
}

.botcont {
    display: flex;
    
}

.inbc {
    flex-basis: 100%;
    flex: 1;
    display: flex;
}

.inbc2 {
   padding: 30px;
   background-color: rgb(255, 164, 61);
    border-radius: 50px;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

.botcon {
    display: flex;
    background-color:rgb(255, 164, 61) ;
    margin-top: 10px;
    border-radius: 50px;
}

.bc {
    display: flex;
    flex-basis: 100%;
    align-content: center;
    justify-content: center;
    gap: 5px;
    
}

