img {
    height: 300px;
    width: auto;
}

header {
    display: flex;
    align-items: center;
}

.logoimg {
    height: 150px;
    width: auto;
    margin-right: auto; 
    
}


.navbar {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 20px;
    padding-right: 50px;
}

.iltr {
    display: flex;
    
}

.leftsidetext {
    padding: 30px;
}

.titles {
    display: flex;
    justify-content: center;
}